@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/reboot";

h1 {
	display: block;
	white-space: nowrap;
}

body{
	padding: 10px 20px;
}

// remove focus visualization
a:focus{
	outline-style: none;
}